.i-sm {
    height:  45px;
}

.im-tum {
    height: 40vh;
    width: 120vw;
}

.img-skill-bar {
    width: 75px;
}

.skill-tittle {
    font-family: 'Franklin Gothic Medium';
}

.img-forno {
    width: 75px;
    height: 75px;
}

.img-forno-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}