/* classes de estruturação principal */

.cabecalho {
    background-color: palevioletred;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 25px;
}

.corpo{
    padding: 0 60px;
    height: 200vh;
    background-image: url("../img/pfbanner.jpg");
    background-attachment: fixed;

}

.footer{
    background-color:palevioletred;
    padding: 20px 50px;
    height: fit-content;
}

/* classes de imagem */

.i-sm {
    height: 50px;
}


/* classes de centralização de imagens */
.mn-hv {
    float: right;
}

.mn-head {
    float: left;
}

@media (max-width: 600px) {
  .mn-head { padding: 0 0 0 45vw; }
}

/* color boxes */

.bx-pink {
  background-color: pink;
}