.i-sm {
  height: 45px;
}

.im-tum {
  height: 40vh;
  width: 120vw;
}

.img-skill-bar {
  width: 75px;
}

.skill-tittle {
  font-family: "Franklin Gothic Medium";
}

.img-forno {
  width: 75px;
  height: 75px;
}

.img-forno-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.mn-head {
  float: right;
}

.cabecalho {
  background-color: darkslategray;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 10px;
}

.pe {
  background-color: darkgray;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 15px;
}

.corpo {
  background-color: lightgray;
  height: 135vh;
  padding: 70px;
}

.rect-skill-bar {
  background-color: darkslategray;
  height: -moz-fit-content;
  height: fit-content;
  width: 50vw;
  padding: 10px 20px;
  justify-content: space-evenly;
}

.skill-bar {
  margin: 50px 0px;
  width: -moz-fit-content;
  width: fit-content;
}

.x {
  background-color: red;
  margin: 135px 0px;
  height: 15px;
}