body {
    font-family: Arial;
}

.tudo {
    width: 1000px;
     height: 1200px;
     background-color: black;
     margin: 0 auto;
}

.topo, .menu, .rodape{
    width: 1000px;
    height: 175px;
    float:left;
    background-color: brown;
}

.menu{
    height:50px;
    background-color: blue;
}

.lateral, .meio{
    width:200px;
    height:800px;
    float: left;
    background-color: gray;

}

.meio{
    width: 800px;
    background-color: green;
    float: right;
}

.rodape {
    background-color: blueviolet;
}

.logotipo{
    width: 150px;
    padding-left: 15px;
}

.logo{
    float: left;
}

.form{
    float: right;
    padding-top: 150px;
    padding-right: 20px;
}
ul{
    list-style: none;
    padding: 0;
    float:left;
    margin:0;
}

ul > li{
    float:left;
    width: 200px;
    text-align: center;
    padding:20px 0px 12px 0;
}

ul > li:hover{
    background-color: orange;
}