/* classes de estruturação principal */

header {
	background-color:#f79eb1;
	height: fit-content;
	padding: 15px 25px;
}

main {
	padding: 0 60px;
	height: 90vh;
	background-color: #f2e7d2;
	background-attachment: fixed;
}

footer {
	background-color: #f79eb1;
	padding: 20px 50px;
	height: fit-content;
}

/* classes de imagem */

.i-sm {
	height: 50px;
}

/* classes de centralização de imagens */
.float-l {
	float: left;
}

.float-r {
	float: right;
}

/* color boxes */

.bx {
	background-color: #ae8fba;
	height: fit-content;
	align-content: center;
}

.bx-dpink {
	background-color: rosybrown;
	height: fit-content;
}

/* fontes */

.playwrite-gb-j {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



/* versão em telas pequenas */

@media (max-width: 700px) {
	.float-l {
		padding: 0 0 0 45vw;
	}

	.float-l {
		padding: 0 45vw 0 0;
	}

	.bx-pink .bx-dpink {
		height: fit-content;
		margin: 0 0 0 0;
	}

	.bx-pink {
		padding: 5vh 2vw 5vh 2vw;
	}

	.i-bn {
		width: 55vw;
	}
}
