/* classes de estruturação principal */

header {
	background-color: palevioletred;
	height: -moz-fit-content;
	height: fit-content;
	padding: 15px 25px;
}

main {
	padding: 0 60px;
	height: 100vh;
	background-image: url("../img/pfbanner.jpg");
	background-attachment: fixed;
}

footer {
	background-color: palevioletred;
	padding: 20px 50px;
	height: fit-content;
}

/* classes de imagem */

.i-sm {
	height: 50px;
}

.i-bn {
	width: 40vw;
}


/* classes de centralização de imagens */
.float-l {
	float: left;
}

.float-r {
	float: right;
}

/* color boxes */

.bx-pink {
	background-color: pink;
	height: fit-content;
	align-content: center;
}

.bx-dpink {
	background-color: rosybrown;
	height: fit-content;
}
/* versão em telas pequenas */

@media (max-width: 700px) {
	.float-l {
		padding: 0 0 0 45vw;
	}

	.float-l {
		padding: 0 45vw 0 0;
	}

	.bx-pink .bx-dpink {
		height: fit-content;
		margin: 0 0 0 0;
	}

	.bx-pink {
		padding: 5vh 2vw 5vh 2vw;
	}

	.i-bn {
		width: 55vw;
	}
}
