/* classes de estruturação principal */

.cabecalho {
	background-color: palevioletred;
	height: -moz-fit-content;
	height: fit-content;
	padding: 15px 25px;
}

.corpo {
	padding: 0 60px;
	height: fit-content;
	background-image: url("../img/pfbanner.jpg");
	background-attachment: fixed;
}

.footer {
	background-color: palevioletred;
	padding: 20px 50px;
	height: fit-content;
}

/* classes de imagem */

.i-sm {
	height: 50px;
}

.i-bn {
	width: 40vw;
}


/* classes de centralização de imagens */
.mn-head {
	float: left;
}

/* color boxes */

.bx-pink {
	background-color: pink;
	padding: 5vh 15vw 5vh 10vw;
	height: fit-content;
	align-content: center;
}

.bx-dpink {
	background-color: rosybrown;
	height: fit-content;	
	padding: 2vh 5vw 2vh 5vw;
	margin: 0 5vw 0 5vw;
}
/* versão em telas pequenas */

@media (max-width: 700px) {
	.mn-head {
		padding: 0 0 0 45vw;
	}

	.bx-pink .bx-dpink {
		height: fit-content;
		margin: 0 0 0 0;
	}

	.bx-pink {
		padding: 5vh 2vw 5vh 2vw;
	}

	.i-bn {
		width: 55vw;
	}
}
